.heridivider    /*Heritage Page Section Divider*/
    {
        display: grid;
        grid-template-columns: repeat(2,auto);
        font-family: 'Source Sans Pro', sans-serif;
        background-color: lightblue;
    }

.mheriheader   /*Main Header Section of Heritage Page*/
    {
        background-color: #8d153a;
        color: white;
        grid-column: 1/3;
        padding: 10px;
    }

.mherifooter   /*Main Footer Section of Heritage Page*/
    {
        background-color: #8d153a;
        color: white;
        grid-column: 1/3;
        padding: 10px;
    }

.herititle
    {
        grid-column: 1/3;
    }

.toprow1    /*Main Header First Row*/
    {
        display: grid;
        grid-template-columns: repeat(3,auto);
        justify-content: space-evenly;
        margin-bottom: 10px;
    }

.toprow2    /*Main Header Second Row*/
    {
        display: grid;
        grid-template-columns: repeat(6,auto);
        justify-content: space-evenly;
        margin-bottom: 10px;
    }

.toprow2 a
    {
        text-decoration:none;
        color: white;
    }

.toprow3    /*Main Header Third Row*/
    {
        display: grid;
        grid-template-columns: repeat(13,auto);
        justify-content: space-evenly;
    }

.bottomrow1
    {
        display: grid;
        grid-template-columns: repeat(13,auto);
        justify-content: space-evenly;
        margin-bottom: 10px;
    }

.bottomrow2
    {
        display: grid;
        grid-template-columns: repeat(6,auto);
        justify-content: space-evenly;
        margin-bottom: 10px;
    }

.bottomrow2 a
    {
        text-decoration:none;
        color: white;
    }

.bottomrow3
    {
        display: grid;
        grid-template-columns: repeat(4,auto);
        justify-content: space-evenly;
    }
.logo   /*Logo Styling*/
    {
        float: left;
        display: grid;
        grid-template-columns: auto;
    }

.hgallery   /*Heritage Location Page Main Gallery*/
    {
        display: grid;
        grid-template-columns: repeat(3, auto);
        justify-content: space-around;
        align-items: center;
        column-gap: 3px;
        row-gap: 40px;
        grid-column: 1/3;
        margin-bottom:20px;
        margin-top: 20px;
    }

a:hover     /*Entire Body Hyperlinks*/
    {
        background-color: #FFBE29;
    }

ul.pbreadcrumb  /*Primary Breadcrumb Trail*/
    {
        padding: 10px 16px;
        list-style: none;
        background-color: #eee;
    }

ul.pbreadcrumb li
    {
        display: inline;
        font-size: 18px;
    }

ul.pbreadcrumb li+li:before
    {
        padding: 8px;
        color: black;
        content: ">\00a0";
    }

ul.pbreadcrumb li a
    {
        color: #0275d8;
        text-decoration: none;
    }

ul.pbreadcrumb li a:hover
    {
        color: #01447e;
        text-decoration: underline;
    }

.h1 /*All H1 Headers*/
    {
        color: white;
        background-color: #00534E;
        padding: 14px;
        border: 1px solid black;
        border-radius: 6px;
        text-align: center;
    }

.h2 /*All H2 Headers*/
    {
        color: white;
        background-color: #EB7400;
        padding: 12px;
        border: 1px solid black;
        border-radius: 4px;
        text-align: center;
    }

.h3 /*All H3 Headers*/
    {
        color: white;
        background-color: #FFBE29;
        padding: 10px;
        border: 1px solid black;
        border-radius: 2px;
        text-align: center;
    }

.polonnaruwa-vatadage-align
    {
        position: relative;
        text-align: center;
        color:white;
    }

.pv-center
    {
        position:absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

.ambakka-kovil-align
    {
        position: relative;
        text-align: center;
        color:white;
    }

.ak-center
    {
        position:absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

.avukana-statue-align
    {
        position: relative;
        text-align: center;
        color:white;
    }

.as-center
    {
        position:absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

.adams-peak-align
    {
        position: relative;
        text-align: center;
        color:white;
    }

.ap-center
    {
        position:absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

.kuttam-pokuna-align
    {
        position: relative;
        text-align: center;
        color:white;
    }

.kp-center
    {
        position:absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

.dambulla-temple-align
    {
        position: relative;
        text-align: center;
        color:white;
    }

.dt-center
    {
        position:absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
.pic
    {
        opacity: 0.8;
    }

@media (min-width:900px) and (max-width:1000px)
    {
        .toprow3
            {
                display: grid;
                grid-template-columns: repeat(12,auto);
            }
        .toprow2
            {
                display: grid;
                grid-template-columns: repeat(3,auto);
            }
        .toprow1
            {
                display: grid;
                grid-template-columns: repeat(2,auto);
            }
        .bottomrow1
            {
                display: grid;
                grid-template-columns: repeat(12,auto);
            }
        .bottomrow2
            {
                display: grid;
                grid-template-columns: repeat(3,auto);
            }
        .bottomrow3
            {
                display: grid;
                grid-template-columns: repeat(2,auto);
            }
        .hgallery   
            {
                display: grid;
                grid-template-columns: auto auto;
            }
    }

@media (min-width:700px) and (max-width:899px)
    {
        .toprow3
            {
                display: grid;
                grid-template-columns: repeat(10,auto);
            }
        .toprow2
            {
                display: grid;
                grid-template-columns: repeat(3,auto);
            }
        .toprow1
            {
                display: grid;
                grid-template-columns: repeat(2,auto);
            }
        .bottomrow1
            {
                display: grid;
                grid-template-columns: repeat(10,auto);
            }
        .bottomrow2
            {
                display: grid;
                grid-template-columns: repeat(3,auto);
            }
        .bottomrow3
            {
                display: grid;
                grid-template-columns: repeat(2,auto);
            }
        .hgallery   
            {
                display: grid;
                grid-template-columns: auto auto;
            }
        .pic
            {
                height: 150px;
                width: 300px;
            }
    }

@media (min-width:500px) and (max-width:699px)
    {
        .toprow3
            {
                display: grid;
                grid-template-columns: repeat(8,auto);
            }
        .toprow2
            {
                display: grid;
                grid-template-columns: repeat(2,auto);
            }
        .toprow1
            {
                display: grid;
                grid-template-columns: repeat(2,auto);
            }
        .bottomrow1
            {
                display: grid;
                grid-template-columns: repeat(8,auto);
            }
        .bottomrow2
            {
                display: grid;
                grid-template-columns: repeat(2,auto);
            }
        .bottomrow3
            {
                display: grid;
                grid-template-columns: repeat(2,auto);
            }
        .hgallery   
            {
                display: grid;
                grid-template-columns: auto auto;
            }
        .pic
            {
                height: 150px;
                width: 300px;
            }
    }

@media (min-width:300px) and (max-width:499px)
    {
        .toprow3
            {
                display: grid;
                grid-template-columns: repeat(6,auto);
            }
        .toprow2
            {
                display: grid;
                grid-template-columns: repeat(2,auto);
            }
        .toprow1
            {
                display: grid;
                grid-template-columns: repeat(1,auto);
            }
        .bottomrow1
            {
                display: grid;
                grid-template-columns: repeat(6,auto); 
            }
        .bottomrow2
            {
                display: grid;
                grid-template-columns: repeat(2,auto);
            }
        .bottomrow3
            {
                display: grid;
                grid-template-columns: repeat(1,auto);
            }
        .hgallery   
            {
                display: grid;
                grid-template-columns: auto;
            }
        .pic
            {
                height: 150px;
                width: 300px;
            }
        .logo
            {
                float: none;
                justify-content: center;
                margin-bottom: 10px;
            }
    }
    
@media (min-width:100px) and (max-width:299px)
    {
        .toprow3
            {
                display: grid;
                grid-template-columns: repeat(4,auto);
            }
        .toprow2
            {
                display: grid;
                grid-template-columns: repeat(1,auto);
            }
        .toprow1
            {
                display: grid;
                grid-template-columns: repeat(1,auto);
            }
        .bottomrow1
            {
                display: grid;
                grid-template-columns: repeat(4,auto); 
            }
        .bottomrow2
            {
                display: grid;
                grid-template-columns: repeat(1,auto);
            }
        .bottomrow3
            {
                display: grid;
                grid-template-columns: repeat(1,auto);
            }
        .hgallery   
            {
                display: grid;
                grid-template-columns: auto;
            }
        .pic
            {
                height: 150px;
                width: 300px;
            }
        .logo
            {
                float: none;
                justify-content: center;
                margin-bottom: 10px;
            }
    }

